<h1>DebateVid.io</h1>
<p>
  Your home for parliamentary, policy, and LD debate videos. DebateVid.io serves as a centralized repository of debate videos hosted on YouTube and Vimeo.
</p>

<h3>How does this work?</h3>
<p>
  Logged-in users may submit videos from YouTube and Vimeo by pasting the link into the submission form and adding appropriate metadata: debate format, tournament, teams, arguments read in the debate, etc. The search function allows viewers to filter for particular videos.
</p>

<h3>How do I add a video?</h3>
<p>
  First, you'll need to create an account and upload your video on either YouTube or Vimeo. Then, log into DebateVid.io using your Facebook, Twitter, or Google account by clicking "Login" on the top right. Hover the "Videos" menu item, click "Submit Video", paste your link, and add information about your video.
</p>

<h3>I don't want my video here!</h3>
<p>
  No worries - send an email to <a href="mailto:admin@debatevid.io">admin@debatevid.io</a> with a link to the offending video and we'll promptly remove it if you are featured in the video or represent a school featured in the video. Please use your school email and/or provide some form of verification that you or your debaters are featured in the video. Please also note that DebateVid.io does not actually host any videos - they are all public on YouTube or Vimeo, so you should request they be removed from those sites as well.
</p>