<h1>DebateVid.io</h1>
<p>
  DebateVid.io is a centralized source to find and search debate videos hosted on YouTube and Vimeo.
</p>

<h4>How does this work?</h4>
<p>
  Logged-in users may submit videos from YouTube and Vimeo by entering a link to the video and adding metadata. Videos are categorized by level (high school or college), debate format, tournament, school, team, debaters, and tags (for additional information such as arguments read in the debate). The search and filter functions allow you to find videos matching particular criteria.
</p>

<h4>How do I add a video?</h4>
<p>
  First, you'll need to create an account and upload your video on either YouTube or Vimeo. Then, log into DebateVid.io using your Facebook, Twitter, or Google account by clicking "Login" on the top right. Then, click "Submit" in the top nav bar, copy-paste the link from YouTube or Vimeo, and add information about your video.
</p>

<h4>What is favoriting?</h4>
<p>
  When logged in, you can click the heart icon to "favorite" videos you enjoy or want to find later. You can find your favorites in the top-right nav menu under your name.
</p>

<h4>I don't want my video here!</h4>
<p>
  No worries - send an email to <%= link_to 'admin@debatevid.io', 'mailto:admin@debatevid.io' %> with a link to the video and we'll promptly remove it if you are featured in the video or represent a school featured in the video. Please use your school email and/or provide some form of verification that you or your debaters are featured in the video. Please also note that DebateVid.io does not actually host any videos - they are all public on YouTube or Vimeo, so you should request they be removed from those sites as well.
</p>
