.segment {
  border: solid 1px #999;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 10px;

  .fa-times {
    margin: 2px;

    &:hover {
      cursor: pointer;
    }
  }
}

.error .Select-control, .form-control.error {
  border: solid red 1px;
}
