#main {
  padding-top: 25px;
}

.select2-hidden-accessible {
  display: none;
}

.avatar-large {
  height: 35px;
  padding-bottom: 3px;
  padding-right: 15px;
}

.avatar {
  height: 25px;
  padding-right: 10px;
}

.align-right {
  text-align: right;
}

.no-margin-top {
  margin-top: 0;
}