.hidden {
  display: none;
}

div.flex-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: auto;
  }

  footer {
    margin-bottom: 15px;
  }
}

.mb {
  margin-bottom: 25px;
}

.filters > select {
  display: inline-block;
  width: auto;
  margin-right: 15px;
}

.filters > div, .filters > button {
  display: inline-block;
  margin-right: 15px;
}

.filters i.fa-times {
  margin-left: 5px;
}

.avatar-large {
  height: 35px;
  padding-bottom: 3px;
  padding-right: 15px;
}

.avatar {
  height: 25px;
  padding-right: 10px;
}

.align-right {
  text-align: right;
}

.no-margin-top {
  margin-top: 0;
}
