.hidden {
  display: none;
}

div.flex-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: auto;
  }

  footer {
    margin-bottom: 15px;
  }
}

.avatar-large {
  height: 35px;
  padding-bottom: 3px;
  padding-right: 15px;
}

.avatar {
  height: 25px;
  padding-right: 10px;
}

.align-right {
  text-align: right;
}

.no-margin-top {
  margin-top: 0;
}
