$base: #1285AF;
$highlight: #3AAED8;
$light: #E8F6FD;
$font: #133C55;

nav.navbar-default {
  background-color: white;
  border-radius: 0px;
  border: none;
  border-bottom: solid 1px $highlight;
  height: 75px;

  div.container-fluid {
    padding-right: 0px;
  }

  .navbar-brand {
    height: 75px;

    img {
      height: 100%;
    }
  }

  .navbar-nav li {
    margin-top: 12.5px;

    &:hover {
      background-color: $light;
    }

    a {
      font-family: 'Oxygen', sans-serif;
      color: $font;

      &:hover {
        color: $font;
      }
    }
  }

  .navbar-nav > .open {
    &>a, &>a:hover, &>a:focus {
      background-color: $light;
    }
  }

  .nav-menu li {
    margin-top: 5px;

    &:first-child {
      margin-top: 0px;
    }

    a {
      padding-left: 10px;
      color: #326273;

      &:hover {
        background-color: $light;
        color: #326273;
      }
    }
  }

  .nav-dropdown-img {
    height: 24px;
    width: 24px;
    margin-right: 5px;
  }
}

/*
 * Open dropdowns on hover instead of click.
 */
@media (min-width: 768px) {
  .dropdown:hover {
    background: #e7e7e7;
  }
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

/*
 * The following is needed since the dropdowns are <div> elements instead
 * of <a> elements
 */
.nav > li > div {
  position: relative;
  display: block;
  padding: 10px 15px;
  cursor: default;
}
.navbar-nav > li > div {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}
.navbar-default .navbar-nav > li > div {
  color: rgb(119, 119, 119);
}
.navbar-collapse.collapse {
  display: none;
}
.dropdown-open {
  background: #e7e7e7;
}
