.video-preview {
  text-align: center;
  
  img {
    width: 100%;
  }
}

#vidframe {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.frame-wrapper {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 60%;
  margin-bottom: 25px;
}
