.filters {
  display: flex;
  flex-direction: row;

  .filters-left {
    display: flex;
    flex: 4;
    justify-content: flex-start;

    .sort {
      margin-right: 10px;

      .form-control {
        width: auto;
        height: 46px;
      }
    }

    .add-filter {
      margin-right: 10px;
      align-self: flex-start;
      height: 46px;
    }

    .dropdown-menu {
      top: 50px;
    }

    .filters-active {
      display: flex;
      flex-wrap: wrap;
    }

    .filter {
      display: flex;
      background-color: #F0F0F0;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;
      margin-right: 10px;
      margin-bottom: 10px;

      .filter-label {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .Select {
        min-width: 125px;
        margin-left: 5px;
        margin-right: 5px;
      }

      .glyphicon-remove {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .search {
    flex: 1;
    align-self: flex-start;
    min-width: 75px;

    input {
      height: 46px;
    }
  }
}
